<footer>
    <h4>¡Encuentranos!</h4>
    <div>
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-2x"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2x"></i></a>
      <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2x"></i></a>
    </div>
    <div id="links">
      <a href="https://carlosemr75.wixsite.com/saveme"><p>Politícas de Privacidad</p></a>
      <p id="l"> | </p>
      <a href="https://carlosemr75.wixsite.com/appmovil"><p>Términos del Servicio</p></a>
      <!--<p>Politícas de Privacidad | Términos del Servicio</p>-->
    </div>
    <div>&copy; 2010-2022 Khaos Inc, All right reserved</div>
</footer>