* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
#torso {
  text-align: center;
}
#colums {
  display: inline;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
}
#car-item {
  background-color: #ffffff60;
}
.square-info {
  display: inline-block;
  margin: 1em;
  /*margin-left: 15px;
  margin-right: 15px;*/
  padding: 1em;
  border: 3px solid black;
  width: 400px;
}
.square-info h2 {
  margin-bottom: 0.5em;
  font-family: 'Architects Daughter', cursive;
}
.square-info p {
  text-align: justify;
}
